{
  "openapi": "3.0.3",
  "info": {
    "title": "Leads Portal API",
    "version": "4.0.0",
    "description": "External API for managing leads and content in the KITLabs Leads Portal. All endpoints require Bearer token authentication via the Authorization header.",
    "contact": {
      "name": "KITLabs Inc",
      "url": "https://kitlabs.us"
    }
  },
  "servers": [
    {
      "url": "https://leadsportaladmin.kitlabs.us",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token provided by the admin. Pass as: Authorization: Bearer <token>"
      }
    },
    "schemas": {
      "Lead": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "projectName": { "type": "string" },
          "customerName": { "type": "string" },
          "customerEmail": { "type": "string", "format": "email" },
          "projectDescription": { "type": "string" },
          "phone": { "type": "string", "nullable": true },
          "city": { "type": "string", "nullable": true },
          "zip": { "type": "string", "nullable": true },
          "dateCreated": { "type": "string", "format": "date-time", "nullable": true },
          "source": { "type": "string" },
          "status": { "type": "string" },
          "stage": { "type": "string" },
          "jobTitle": { "type": "string", "nullable": true },
          "companyName": { "type": "string", "nullable": true },
          "location": { "type": "string", "nullable": true },
          "industry": { "type": "string", "nullable": true },
          "companySize": { "type": "string", "nullable": true },
          "companyWebsite": { "type": "string", "nullable": true },
          "aboutCompany": { "type": "string", "nullable": true },
          "linkedinUrl": { "type": "string", "nullable": true },
          "apolloUrl": { "type": "string", "nullable": true },
          "naicsSectorCode": { "type": "string", "nullable": true },
          "naicsSubsectorCode": { "type": "string", "nullable": true },
          "extractedDate": { "type": "string", "format": "date-time", "nullable": true },
          "lastContactedDate": { "type": "string", "format": "date-time", "nullable": true },
          "leadScore": { "type": "integer", "nullable": true },
          "connectionRequestSent": { "type": "boolean" },
          "connectionAccepted": { "type": "boolean" },
          "initialMessageSent": { "type": "boolean" },
          "meetingBooked": { "type": "boolean" },
          "meetingDate": { "type": "string", "format": "date-time", "nullable": true },
          "responseReceived": { "type": "boolean" },
          "doNotContact": { "type": "boolean" },
          "zohoLeadId": { "type": "string", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "LeadCreate": {
        "type": "object",
        "required": ["projectName", "customerName", "customerEmail", "projectDescription"],
        "properties": {
          "projectName": { "type": "string", "description": "Name of the project or opportunity" },
          "customerName": { "type": "string", "description": "Full name of the customer/lead" },
          "customerEmail": { "type": "string", "format": "email", "description": "Customer's email address" },
          "projectDescription": { "type": "string", "description": "Detailed project description" },
          "phone": { "type": "string", "description": "Phone number" },
          "city": { "type": "string", "description": "City" },
          "zip": { "type": "string", "description": "Zip/postal code" },
          "dateCreated": { "type": "string", "format": "date", "description": "Date lead was captured (ISO 8601, e.g. 2026-04-01)" },
          "leadSource": { "type": "string", "enum": ["MANUAL", "AGENT", "BARK", "LINKEDIN_SALES_NAV", "APOLLO", "LINKEDIN_COMPANY_PAGE", "REFERRAL", "WEBSITE", "COLD_OUTREACH", "EVENT", "OTHER"], "description": "Where the lead came from. Maps to source field." },
          "leadStatus": { "type": "string", "enum": ["COLD", "WARM", "HOT", "ACTIVE", "CLOSED", "NEW", "CONTACTED", "RESPONDED", "MEETING_BOOKED", "QUALIFIED", "DISQUALIFIED", "NURTURE"], "description": "Sales pipeline stage. Maps to stage field." },
          "jobTitle": { "type": "string", "description": "Role/title (e.g. CTO, VP Engineering)" },
          "companyName": { "type": "string", "description": "Company name" },
          "location": { "type": "string", "description": "City/State/Region (e.g. San Francisco, CA)" },
          "industry": { "type": "string", "description": "Industry vertical (e.g. Software Development)" },
          "companySize": { "type": "string", "description": "Employee range (e.g. 51-200)" },
          "companyWebsite": { "type": "string", "description": "Company website URL" },
          "aboutCompany": { "type": "string", "description": "Description of what the company does" },
          "linkedinUrl": { "type": "string", "description": "LinkedIn profile URL" },
          "apolloUrl": { "type": "string", "description": "Apollo.io profile URL" },
          "naicsSectorCode": { "type": "string", "description": "2-digit NAICS sector code (e.g. '54'). If omitted, auto-resolved from industry text." },
          "naicsSubsectorCode": { "type": "string", "description": "3-digit NAICS subsector code (e.g. '541'). If omitted, auto-resolved from industry text." },
          "extractedDate": { "type": "string", "format": "date-time", "description": "When the lead was first captured. Auto-defaults to current time if not provided." },
          "lastContactedDate": { "type": "string", "format": "date-time", "description": "Date of most recent outreach" },
          "leadScore": { "type": "integer", "minimum": 1, "maximum": 100, "description": "Lead quality score (1-100)" },
          "connectionRequestSent": { "type": "boolean", "default": false, "description": "Whether LinkedIn connection request was sent" },
          "connectionAccepted": { "type": "boolean", "default": false, "description": "Whether the lead accepted the connection" },
          "initialMessageSent": { "type": "boolean", "default": false, "description": "Whether first outreach message was sent" },
          "meetingBooked": { "type": "boolean", "default": false, "description": "Whether the lead booked a meeting" },
          "meetingDate": { "type": "string", "format": "date-time", "description": "Scheduled meeting date/time" },
          "responseReceived": { "type": "boolean", "default": false, "description": "Whether any reply was received" },
          "notes": { "type": "string", "description": "Free-text notes (deprecated — use the notes API instead)" },
          "assignedTo": { "type": "string", "description": "Admin username to assign to (for filtering)" }
        }
      },
      "LeadList": {
        "type": "object",
        "properties": {
          "leads": { "type": "array", "items": { "$ref": "#/components/schemas/Lead" } },
          "pagination": {
            "type": "object",
            "properties": {
              "page": { "type": "integer" },
              "limit": { "type": "integer" },
              "total": { "type": "integer" },
              "totalPages": { "type": "integer" }
            }
          }
        }
      },
      "Content": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "body": { "type": "string" },
          "mediaUrl": { "type": "string", "nullable": true },
          "tags": { "type": "array", "items": { "type": "string" } },
          "platforms": { "type": "array", "items": { "type": "string" } },
          "status": { "type": "string", "enum": ["DRAFT", "PUBLISHED", "ARCHIVED"] },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "details": { "type": "array", "items": { "type": "string" } }
        }
      }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/api/v1/leads": {
      "get": {
        "tags": ["Leads"],
        "summary": "List leads",
        "description": "Returns paginated list of leads with optional filters. Supports search across name, email, company, job title.",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 }, "description": "Page number" },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20, "maximum": 100 }, "description": "Items per page" },
          { "name": "search", "in": "query", "schema": { "type": "string" }, "description": "Search across name, email, company, job title" },
          { "name": "status", "in": "query", "schema": { "type": "string" }, "description": "Filter by lead status (e.g. NEW, SOW_READY)" },
          { "name": "stage", "in": "query", "schema": { "type": "string" }, "description": "Filter by sales stage (e.g. CONTACTED, QUALIFIED)" },
          { "name": "source", "in": "query", "schema": { "type": "string" }, "description": "Filter by lead source (e.g. APOLLO, LINKEDIN_SALES_NAV)" },
          { "name": "industry", "in": "query", "schema": { "type": "string" }, "description": "Filter by industry (partial match)" },
          { "name": "assignedTo", "in": "query", "schema": { "type": "string" }, "description": "Filter by assigned admin name (partial match)" }
        ],
        "responses": {
          "200": {
            "description": "Paginated lead list",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LeadList" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "tags": ["Leads"],
        "summary": "Create a new lead",
        "description": "Creates a new lead with all supported fields. All new fields are optional and default to null/false. Enum fields (leadSource, leadStatus) are validated — unknown values return 400. extractedDate defaults to current timestamp if not provided.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LeadCreate" },
              "example": {
                "projectName": "Acme Corp - CTO Opportunity",
                "customerName": "Jane Smith",
                "customerEmail": "jane@acme.com",
                "projectDescription": "Lead from Apollo.io. Interested in mobile app development.",
                "phone": "+1-555-0123",
                "linkedinUrl": "https://linkedin.com/in/janesmith",
                "apolloUrl": "https://app.apollo.io/#/people/jane-smith",
                "jobTitle": "CTO",
                "companyName": "Acme Corp",
                "location": "San Francisco, CA",
                "industry": "Software Development",
                "companySize": "51-200",
                "companyWebsite": "https://acme.com",
                "aboutCompany": "Acme Corp builds enterprise SaaS tools for project management.",
                "leadSource": "APOLLO",
                "leadStatus": "NEW",
                "extractedDate": "2026-04-04T14:30:00Z",
                "leadScore": 75,
                "connectionRequestSent": true,
                "connectionAccepted": false,
                "initialMessageSent": true,
                "meetingBooked": false,
                "responseReceived": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead created successfully",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Lead" } } }
          },
          "400": {
            "description": "Validation error (missing required fields or invalid enum values)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/v1/content": {
      "get": {
        "tags": ["Content"],
        "summary": "List all content",
        "responses": {
          "200": {
            "description": "Content list",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Content" } } } }
          },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "tags": ["Content"],
        "summary": "Create new content",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "body"],
                "properties": {
                  "title": { "type": "string" },
                  "body": { "type": "string" },
                  "mediaUrl": { "type": "string" },
                  "tags": { "type": "array", "items": { "type": "string" } },
                  "platforms": { "type": "array", "items": { "type": "string", "enum": ["LINKEDIN", "FACEBOOK", "TIKTOK", "INSTAGRAM"] } },
                  "status": { "type": "string", "enum": ["DRAFT", "PUBLISHED", "ARCHIVED"], "default": "DRAFT" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Content created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Content" } } }
          },
          "400": { "description": "Validation error" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/v1/content/upload": {
      "post": {
        "tags": ["Content"],
        "summary": "Upload media file",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "filePath": { "type": "string" } } } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    }
  }
}
